.header {
    grid-area: h;
    background-color: darkorange;
}

.header img {
    width: 60px;
    margin-left: 20px;
    margin-top: 10px;
}

.login {
    float: right;
    margin-right: 20px;
    margin-top: 17px;
}

.login a {
    text-decoration: none;
    color: black;
}