.wrapper {
    margin-top: 20px;
    margin-left: 30px;
}

.photo {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
}

.pagination {
    margin-bottom: 20px;
}

.user {
    margin-bottom: 20px;
}